body {
  background-color: #CACFD3;
}
      
li {
  transition: 1s ease;
}

li:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  background-color: #161F28;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  font-weight:200;
}